<h1> Please Sign In</h1>

<form action="/sessions" method="POST">
  <label for="email"> Email: <input name ="email" yupe="email" /></label>
  <br />
  <label for "password"> Password: <input name="password" type="password" /></label>
  <br />
  <input type="submit" value="Sign in"
</form>
